* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inter
}
.app{
    min-width: 550px
}
.navbar{
    background: #F55A5A;
    height: 55px;
    width:100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px
}
.main{
    padding: 30px 40px;
    
}
hr{
     border : 1px solid #F5F5F5;
}
.card{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding:18px 0px; 
}
.card-img{
    width: 125px;
    height: 168px;
    border-radius: 6px;
}
.location{
    display: flex;
    column-gap: 4px;
    align-items: flex-start;
    margin-bottom:7px
}
.country{
    font-size: 10.24px;
    letter-spacing: 0.17em;
    color: #2B283A;
    text-transform: uppercase;
    margin-right: 8px
}
.location > a{
    font-size: 10.24px;;
    text-decoration-line: underline;
    color: #918E9B;
}
.card-body--title{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-bottom: 13px
}
.card-body--date{
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
    margin-bottom: 9px;
}
.description{
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #2B283A;
}